Pengaturan DHCP dilakukan di Server dengan IP 192.168.10.2 dan disesuaikan dengan segmen Kamar Anak (/28), Kamar Utama dan Tamu. Server ini bertugas untuk memberikan alamat IP otomatis kepada perangkat di Kamar Anak dan menetapkan default gateway serta DNS yang diperlukan. 