// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.bg-teal-subtle {
    background-color: #d1f0f0 !important;
}
.text-teal {
    color: #007b7b !important;
}

/* Purple */
.bg-purple-subtle {
    background-color: #e6dcf3 !important;
}
.text-purple {
    color: #6f42c1 !important;
}

.custom_card {
            --bs-card-spacer-y: 1rem;
            --bs-card-spacer-x: 1rem;
            --bs-card-title-spacer-y: 0.5rem;
            --bs-card-title-color: ;
            --bs-card-subtitle-color: ;
            --bs-card-cap-padding-y: 0.5rem;
            --bs-card-cap-padding-x: 1rem;
            --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
            --bs-card-cap-color: ;
            --bs-card-height: ;
            --bs-card-color: ;
            --bs-card-img-overlay-padding: 1rem;
            --bs-card-group-margin: 0.75rem;

            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            height: var(--bs-card-height);
            color: var(--bs-body-color);
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 10px;

            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }